@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="~/lib/css/site.min.css" />
    <script src="~/lib/js/site.min.js"></script>
    <script src="~/lib/js/validate.min.js"></script>
</head>

<body class="text-center">
    <div class="container">
        <div class="jumbotron">
            <form class="form-control" asp-controller="Login" asp-action="Login" asp-antiforgery="true">
                <div class="form-group">
                    <div clas="row">
                        <input type="text" class="form-control" placeholder="Nome de usuário" autofocus asp-for="Usuario" />
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                    </div>
                    <div clas="row">
                        <input type="password" class="form-control" placeholder="Senha" asp-for="Senha" />
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                </div>
                <button class="btn btn-info" type="submit">
                    Entrar
                </button>
            </form>
        </div>
    </div>
</body>
</html>

