@model IEnumerable<DoacaoViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                Doações Cadastradas
            </th>
            <th>
                Tipo Doação
            </th>
            <th>
                Emitir
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDoacao)
                </td>
                <td>
                    @Html.ActionLink("Aviso", "EnviarAviso", new { @class = "btn btn-success disabled" })
                    @Html.ActionLink("Emergência", "EnviarEmergencia", new { @class = "btn btn-danger disabled" })
                </td>
            </tr>
        }
    </tbody>
</table>