@model IEnumerable<StarCastGroupDois.UI.Site.Models.DoacaoViewModel>
@using StarCastGrupoDois.Domain.Entities.Fixed;

@{
    ViewData["Title"] = "";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Doações Cadastradas
            </th>
            <th>
                Tipo Doação
            </th>
            <th>
                Emitir
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDoacao)
                </td>
                <td>
                    @Html.ActionLink("Aviso", "EnviarAviso", new { }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Emergência", "EnviarEmergencia", new { }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
